* {
    padding: unset;
    box-sizing: border-box;
    margin: unset;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    font-family: sans-serif;
}


#box {
    min-width: 370px;
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}



#box .section1 {
    text-align: center;
    padding: 10px 0px;
}

#box .section2 {
    padding: 10px 0px;
    font-size: 14px;
}


#box .section3 > label {
    font-size: 14px;
}

#box .section3 > input {
    display: block;
    margin: 8px 0px 10px 0px;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid rgb(189, 183, 183);
    border-radius: 5px;
}

#box .section4 {
    padding: 10px 0px;
}

#box .section4 > button {
    width: 100%;
    border: none;
    color: #fff;
    background-color: rgb(11, 136, 32);
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}


#box .section5 {
    padding: 15px 0px;
}